<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto HTML</title>
</head>
<body>
    <h4>Título de nivel h4</h4>

    <h1>Título de nivel h1</h1>

    <h2>Subtítulo de nivel h2</h2>

    <img src="/images/paisajePradera.jpg" alt=""> <!–– Como indiqué en app que /public iba a ser una carpeta de recursos estáticos. En este caso puedo solo poner el / directorio dentro de public para refernciar a la imagen ––>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Enim officia quae delectus corrupti nisi consectetur quod soluta repellendus itaque adipisci, dolorem, voluptates rem nihil, 
        commodi magnam beatae dolores consequuntur illo?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, ratione dolor? Impedit tempore porro qui animi in. Sapiente illo ea mollitia sed, doloribus quo aspernatur, nobis obcaecati, ducimus velit voluptatibus?
    </p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href="https://google.com" target="_blank">Ir a Google</a>
    
</body>
<footer>
    Aca va el footer
</footer>
</html>